*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  width: 80vw;
  height: 100vh;
  border: 1px solid black;
}
.container-page{
  display: flex;
  flex-direction: row;
}
